body{
    padding: 0;
    margin: 0;
    background-color: rgb(128, 128, 236);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #fff;
    position: relative;
}

.hand{
    width: 50%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s cubic-bezier(0,2.47,1,1.21);
    position: relative;
    /* linear(0 0%, 2.38 50.59%, 1 100%) */
}
.dot{
    width: 5%;
    height: 10px;
    position: absolute;
    top: 47%;
    left: 47%;
    background-color:#000;
    border-radius: 10px;
}